{/* This is the slide template. It defines how presentations are formatted. */}

{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta charset='utf-8'>
    <script src='/static/slides.js'></script>
  </head>

  <body style='display: none'>

    <section class='slides layout-widescreen'>
      
      <article class="head">
        <div class="connect"></div>
        <h1>{{.Title}}</h1>
        {{with .Subtitle}}<h3>{{.}}</h3>{{end}}
        {{if not .Time.IsZero}}<h3>{{.Time.Format "2 January 2006"}}</h3>{{end}}
        {{range .Authors}}
          <div class="presenter">
            {{range .TextElem}}{{elem $.Template .}}{{end}}
          </div>
        {{end}}
        <div class="cb"></div>
      </article>
      
  {{range $i, $s := .Sections}}
  <!-- start of slide {{$s.Number}} -->
      
      {{if $s.Elem}}
        <article class="main">
          <div class="header">
            <div class="circle"></div>
            <h3>{{$s.Title}}</h3>
            <div class="cb"></div>
          </div>
        {{range $s.Elem}}{{elem $.Template .}}{{end}}
          <div class="copyright">&copy;2014 Couchbase, Inc.</div>
          <div class="pagenum">{{$i}}</div>
        </article>
      {{else}}
        <article class="section">
          <div class="connect"></div>
          <h1>{{$s.Title}}</h1>
          <div class="cbcolor"></div>
        </article>
      {{end}}
      
      
  <!-- end of slide {{$i}} -->
  {{end}}{{/* of Slide block */}}

      <article class="main">
        <div class="header">
          <div class="circle"></div>
          <h3>Thank you</h3>
          <div class="cb"></div>
        </div>
        {{range .Authors}}
            {{range .Elem}}{{elem $.Template .}}{{end}}
        {{end}}
      </article>

  </body>
  {{if .PlayEnabled}}
  <script src='/play.js'></script>
  {{end}}
</html>
{{end}}

{{define "newline"}}
<br>
{{end}}
